{% extends 'brainchild/skeleton.twig' %}

{% block nav %}
  {% include 'brainchild/admin/nav.twig' %}
{% endblock %}

{% block content %}
<div class="row">
  {# Karunya Registration Counts #}
  <div class="col col-lg-3 col-xs-6">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{ stats.ku_reg }}</h3>
        <p>KU Registrations</p>
      </div>
      <div class="icon">
        <i class="fa fa-user-plus"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col col-lg-3 col-xs-6">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{ stats.ex_reg }}</h3>
        <p>External Registrations</p>
      </div>
      <div class="icon">
        <i class="fa fa-user-plus"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col col-lg-3 col-xs-6">
    <div class="small-box bg-red">
      <div class="inner">
        <h3>-0</h3>
        <p>Technical Registrations</p>
      </div>
      <div class="icon">
        <i class="fa fa-book"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col col-lg-3 col-xs-6">
    <div class="small-box bg-fuchsia">
      <div class="inner">
        <h3>-0</h3>
        <p>Non-Technical Registrations</p>
      </div>
      <div class="icon">
        <i class="fa fa-ticket"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col col-lg-3 col-xs-6">
    <div class="small-box bg-maroon">
      <div class="inner">
        <h3>-0</h3>
        <p>Workshop Registrations</p>
      </div>
      <div class="icon">
        <i class="fa fa-connectdevelop"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col col-lg-3 col-xs-6">
    <div class="small-box bg-purple">
      <div class="inner">
        <h3>-0</h3>
        <p>Games Registrations</p>
      </div>
      <div class="icon">
        <i class="fa fa-bullseye"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col col-lg-3 col-xs-6">
    <div class="small-box bg-primary">
      <div class="inner">
        <h3>-0</h3>
        <p>Page Hits</p>
      </div>
      <div class="icon">
        <i class="fa fa-bar-chart"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>
{% endblock %}