{% extends 'brainchild/skeleton.twig' %}

{% block nav %}
  {% include 'brainchild/admin/nav.twig' %}
{% endblock %}

{% block content %}
  <div class="row">

    <div class="col col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><b>Departments</b></a></li>
          <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false"><b>Users</b></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="row">
              <div class="col col-md-12">
                <button type="button" class="pull-right btn bg-purple margin" data-toggle="modal" data-target="#add-department-modal">Add Department</button>
              </div>
              <div class="col col-md-12">
                <table class="table table-striped">
                      <tbody><tr>
                        <th>Short Name</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Coordinator</th>
                        <th>Phone</th>
                        <th>Option</th>
                      </tr>
                      {% for dept in depts %}
                        <tr>
                          <td>{{ dept.id }}</td>
                          <td>{{ dept.name }}</td>
                          <td>{{ dept.username }}</td>
                          <td>{{ dept.password }}</td>
                          <td>{{ dept.co_name }}</td>
                          <td>{{ dept.contact }}</td>
                          <td><button type="button" data-toggle="modal" data-target="#edit-department-modal" class="btn btn-xs bg-maroon">Edit</button></td>
                        </tr>
                      {% endfor %}
                      </tbody></table>
                  <!-- /.box-body -->
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_3">
            <div class="row">
              <div class="col col-md-12">
                <button type="button" class="pull-right btn bg-primary margin"  data-toggle="modal" data-target="#add-user-modal">Add User</button>
              </div>
              <div class="col col-md-12">
                <table class="table table-striped">
                      <tbody><tr>
                        <th style="width: 10px">ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Category</th>
                        <th>Phone</th>
                        <th>Option</th>
                      </tr>
                      <tr>
                        <td>1.</td>
                        <td>Computer Science</td>
                        <td>UL13CS099</td>
                        <td>QWERTY123</td>
                        <td>ID Issue</td>
                        <td>9999999990</td>
                        <td><button type="button" data-toggle="modal" data-target="#edit-user-modal" class="btn btn-xs bg-navy">Edit</button></td>
                      </tr>
                      </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
    </div>

  </div>
{% endblock %}

{% block modal %}

  <div class="modal" id="add-department-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Add Department</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="short-name">Short Name</label>
            <input class="form-control" id="short-name" placeholder="Enter Short Form (eg. CSE, MECH)" type="text">
          </div>
          <div class="form-group">
            <label for="name">Department Title</label>
            <input class="form-control" id="name" placeholder="Enter Department Title" type="text">
          </div>
          <div class="form-group">
            <label for="co-name">Department Coordinator Name</label>
            <input class="form-control" id="co-name" placeholder="Enter Coordinator Name" type="text">
          </div>
          <div class="form-group">
            <label for="username">Username for Coordinator</label>
            <input class="form-control" id="username" placeholder="Enter Coordinator Username" type="text">
          </div>
          <div class="form-group">
            <label for="password">Password for Coordinator</label>
            <input class="form-control" id="password" placeholder="Enter Coordinator Password" type="text">
          </div>
          <div class="form-group">
            <label for="phone">Contact for Coordinator</label>
            <input class="form-control" id="phone" placeholder="Enter Coordinator Phone (+91XXXXXXXXXX)" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" id="add-department" class="btn btn-success">Add</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div class="modal" id="add-user-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Add User</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="o-name">Name</label>
            <input class="form-control" id="o-name" placeholder="Enter Name" type="text">
          </div>
          <div class="form-group">
            <label for="o-type">Type</label><br>
            <select id="o-type" class="selectpicker">
              <option value="0" disabled selected>Select a type</option>
              <option value="11">Accomodations</option>
              <option value="3">Core Team</option>
              <option value="5">Dignitaries</option>
              <option value="9">ID Issuer</option>
              <option value="8">Prize Distribution</option>
              <option value="10">Registration Desk</option>
            </select>
          </div>
          <div class="form-group">
            <label for="o-username">Username</label>
            <input class="form-control" id="o-username" placeholder="Enter Username" type="text">
          </div>
          <div class="form-group">
            <label for="o-password">Password</label>
            <input class="form-control" id="o-password" placeholder="Enter Password" type="text">
          </div>
          <div class="form-group">
            <label for="o-phone">Contact</label>
            <input class="form-control" id="o-phone" placeholder="Enter Coordinator Phone (+91XXXXXXXXXX)" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Add</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div class="modal" id="edit-department-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Edit Department</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="short-name">Short Name</label>
            <input class="form-control" id="short-name" placeholder="Enter Short Form (eg. CSE, MECH)" type="text">
          </div>
          <div class="form-group">
            <label for="name">Department Title</label>
            <input class="form-control" id="name" placeholder="Enter Department Title" type="text">
          </div>
          <div class="form-group">
            <label for="co-name">Department Coordinator Name</label>
            <input class="form-control" id="co-name" placeholder="Enter Coordinator Name" type="text">
          </div>
          <div class="form-group">
            <label for="username">Username for Coordinator</label>
            <input class="form-control" id="username" placeholder="Enter Coordinator Username" type="text">
          </div>
          <div class="form-group">
            <label for="password">Password for Coordinator</label>
            <input class="form-control" id="password" placeholder="Enter Coordinator Password" type="text">
          </div>
          <div class="form-group">
            <label for="phone">Contact for Coordinator</label>
            <input class="form-control" id="phone" placeholder="Enter Coordinator Phone (+91XXXXXXXXXX)" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div class="modal" id="edit-user-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Edit Department</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="o-name">Name</label>
            <input class="form-control" id="o-name" placeholder="Enter Name" type="text">
          </div>
          <div class="form-group">
            <label for="o-type">Type</label><br>
            <select id="o-type" class="selectpicker">
              <option value="0" disabled selected>Select a type</option>
              <option value="11">Accomodations</option>
              <option value="3">Core Team</option>
              <option value="5">Dignitaries</option>
              <option value="9">ID Issuer</option>
              <option value="8">Prize Distribution</option>
              <option value="10">Registration Desk</option>
            </select>
          </div>
          <div class="form-group">
            <label for="o-username">Username</label>
            <input class="form-control" disabled id="o-username" placeholder="Enter Username" type="text">
          </div>
          <div class="form-group">
            <label for="o-password">Password</label>
            <input class="form-control" id="o-password" placeholder="Enter Password" type="text">
          </div>
          <div class="form-group">
            <label for="o-phone">Contact</label>
            <input class="form-control" id="o-phone" placeholder="Enter Coordinator Phone (+91XXXXXXXXXX)" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      
      $("#add-department").click(function () {
        var name = $("#name").val();
        var co_name = $("#co-name").val();
        var phone = $("#phone").val();
        var short_name = $("#short-name").val();
        var username = $("#username").val();
        var password = $("#password").val();
        if (name ==''||co_name==''||phone==''||short_name==''||username==''||password==''){
          swal(
            'Empty Fields',
            'Need to fill all fields before submitting.',
            'question'
          );
        }else{
          swal('Success','Department Added.','success');
          $.ajax({
            url: "{{ path_for('admin_ajax_add_department') }}",
            type: "POST",
            data: {
              "username": username,
              "password": password,
              "name": name,
              "phone": phone,
              "short_name": short_name,
              "co_name": co_name
            },
            success: function (result) {
              if(result.status == "success"){
                location.reload();
              }else{
                swal('Error',result.message,'warning');
              }
            }
          });
        }

      });
      
    });
  </script>
{% endblock %}