{% extends "website/frame.html" %}
	{% block title %}Departments | Mindkraft 2017{% endblock title %}
	{% block css %}
	<link href="{{ base_url() }}/static/client/css/dept.css" rel="stylesheet">
<!--	<link href="{{ base_url() }}/static/client/amith/css/transition.css" rel="stylesheet">-->
<style>
	h1{
		color: #4e4e4e !important;
	}
</style>
	{% endblock css %}



	{% block body %}

		
<div class="section white">
			<div class="inner">
				<div class="container">
					<div class="row text-center">
						<div class="col-md-8 col-md-offset-2">
							<h2 data--100-bottom-center="transform: translateY(25px);" data-top="transform: translateY(-25px);">Find Us<img src="{{ base_url() }}/static/client/images/separator2.png" alt="separator"></h2>
						</div> <!-- end .col-md-8 -->
					</div> <!-- end .row -->
					<div class="feature-row clearfix text-center">
						<div class="item orange" style="background-image: url('{{ base_url() }}/static/client/images/feature01.jpg');">
							<div class="inner">
								<div class="icon"><i class="fa fa-map-marker"></i></div>
								<h6>Venue</h6>
								<p>23 - 25th March, 2017. <br />
								Karunya University<br />
									Coimbatore, Tamil Nadu<br />
									PIN: 641114
								</p>
								<a href="#map" class="smooth-scroll">View on Map</a>
							</div> <!-- end .inner -->
						</div> <!-- end .item -->
						<div class="item blue" style="background-image: url('{{ base_url() }}/static/client/images/feature02.jpg');">
							<div class="inner">
								<div class="icon"><i class="fa fa-envelope"></i></div>
								<h6>Email</h6>
								<p>info@mindkraft.org</p>
								<br />
								<br />

								<a href="mailto:info@mindkraft.org">Mail Now</a>
							</div> <!-- end .inner -->
						</div> <!-- end .item -->
						<div class="item green" style="background-image: url('{{ base_url() }}/static/client/images/feature03.jpg');">
							<div class="inner">
								<div class="icon"><i class="fa fa-phone"></i></div>
								<h6>Contact</h6>
								<p>Ring us anytime!<br />
									+91 9843326118
								</p>
								<br />
								<br />
								<a href="tel://9843326118">Call Now</a>
							</div> <!-- end .inner -->
						</div> <!-- end .item -->
					</div> <!-- end .feature-row -->

				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->


		<div class="section tiny white">
			<div class="inner">
				<div class="container">

					<div class="row">
						<div class="col-md-9">
							<h4>Few Words About Brand</h4>
							<p>Mindkraft is an annual National Level symposium conducted by Karunya University. It is a Techno Management fest that collaborates with minds that are striving for invention, innovation, and creativity. Ever since the inception of this fest in 2007, it has always aimed at achieving the best from the contributions of the university’s faculty and students. In addition, many colleges across India are invited to witness and contribute to this mega fest.</p>
							<p>
Over the years, Mindkraft’s theme has always brought light to the Chancellor’s vision and mission to solve human problems.
</p>
						</div> <!-- end .col-md-9 -->
						<div class="col-md-3">
							<h4>Support Team</h4>
							<p>We glad to help you!</p>
<!--
							<ul class="fa-ul">
								<li><i class="fa-li fa fa-caret-right"></i>Sofia Adams</li>
								<li><i class="fa-li fa fa-caret-right"></i>Jesica Bernuchi</li>
								<li><i class="fa-li fa fa-caret-right"></i>John Abraams</li>
								<li><i class="fa-li fa fa-caret-right"></i>Fill Andretan</li>
							</ul>
-->
						</div> <!-- end .col-md-3 -->
					</div> <!-- end .row -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->



		<div class="section white light-text no-padding-bottom tiny">
			<div class="inner">
				<div class="container">
					<form action="#" method="post" id="contact-form" class="contact-form clearfix ami-border">
						<div class="contact-header" style="background-image: url('{{ base_url() }}/static/client/images/contact.jpg');">
							<div class="inner">Contact Form</div>
						</div> <!-- end .contact-header -->
						<div class="clearfix">
							<div class="form-group third">
								<input type="text" id="contact-name" name="contact-name" required>
								<label for="contact-name">Your Name</label>
							</div> <!-- end .form-group -->
							<div class="form-group third">
								<input type="email" id="contact-email" name="contact-email" required>
								<label for="contact-email">Your Email</label>
							</div> <!-- end .form-group -->
							<div class="form-group third end">
								<input type="text" maxlength="10" placeholder="10 digit pmobile number" id="contact-website" name="contact-website">
								<label for="contact-website">Your Phone Number</label>
							</div> <!-- end .form-group -->
						</div> <!-- end .clearfix -->
						<div class="form-group full textarea">
							<textarea name="contact-message" id="contact-message" required rows="7" placeholder="Your Message"></textarea>
						</div> <!-- end .form-group -->
						<div class="submit" style="" onclick="alert('Your message has been sent');return false;"><button type="submit" class="button icon-button"><i class="fa fa-paper-plane"></i>Send Message</button></div>
					</form>
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->

		<div class="section white small text-center">
			<div class="inner">
				<div class="container">
					<h1 class="light" data--100-bottom-center="transform: translateY(25px);" data-top="transform: translateY(-25px);">Find us on the Map</h1>
					<p class="lead">Karunya University, Karunya Nagar, Coimbatore, Tamil Nadu 641114</p>
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
			<a href="#map" class="map-button smooth-scroll"><i class="fa fa-compass" aria-hidden="true"></i></a>
		</div> <!-- end .section -->

		<div class="map" id="map"></div>

	{% endblock body %}

	{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Bootstrap -->
		<script src="{{ base_url() }}/static/client/js/bootstrap.min.js"></script>
		<script src="{{ base_url() }}/static/client/js/ami-auth.js"></script>
		<!-- google maps -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy-PboZ3O_A25CcJ9eoiSrKokTnWyAmt8"></script>
		<!-- Owl Carousel -->
		<script src="{{ base_url() }}/static/client/js/owl.carousel.min.js"></script>
		<!-- Waypoints -->
		<script src="{{ base_url() }}/static/client/js/jquery.waypoints.min.js"></script>
		<!-- CountTo -->
		<script src="{{ base_url() }}/static/client/js/jquery.countTo.js"></script>
		<!-- Countdown -->
		<script src="{{ base_url() }}/static/client/js/countdown.js"></script>
		<!-- Isotope -->
		<script src="{{ base_url() }}/static/client/js/isotope.pkgd.min.js"></script>
		<script src="{{ base_url() }}/static/client/js/imagesloaded.pkgd.min.js"></script>
		<!-- Sweet Alert -->
		<script src="{{ base_url() }}/static/client/js/sweetalert.min.js"></script>
		<!-- Skrollr -->
		<script src="{{ base_url() }}/static/client/js/skrollr.min.js"></script>
		<!-- Tweetie -->
		<script src="{{ base_url() }}/static/client/scripts/Tweetie/tweetie.min.js"></script>
		<!-- Grid Rotator -->
		<script src="{{ base_url() }}/static/client/js/jquery.gridrotator.js"></script>
		<!-- Flipster -->
		<script src="{{ base_url() }}/static/client/js/jquery.flipster.min.js"></script>
		<!-- Headroom -->
		<script src="{{ base_url() }}/static/client/js/headroom.js"></script>
		<script src="{{ base_url() }}/static/client/js/jQuery.headroom.js"></script>

		<script src="{{ base_url() }}/static/js/nanobar.min.js"></script>
<script src="{{ base_url() }}/static/client/js/scripts.js"></script>

	{% endblock js %}
