{% extends "website/shell.twig" %}

{% block title%}
Register to Mindkraft 2017 | A National Level Techno Management Fest
{% endblock title%}

{% block css%}
<link href="{{ base_url() }}/static/css/games.css" rel="stylesheet">
{% endblock css %}

{% block content%}
<header class="ami-main">
<div class="container">
<div class="row">
<h1 style="text-align:center;color:#fff">Events by Departments</h1>
	<br />
	<br />
	<br />
	<br />
	</div>
	<div class="row">
<h2 style="text-align:center;color:#fff">Events are coming soon.</h2>

{% for dept in depts %}
<div class="col-md-3 col-xs-6">
	<div class="eve-snipp panel panel-body">
<a href="/events/{{ dept.id }}/">
		<img src="{{base_url() }}/static/img/koppile-logo.png" width="150">
	<span class="name">{{ dept.name }}</span>
	<span class="register btn btn-info">Show Events</span>
		</a>
</div>
</div>
{% endfor %}

	</div>
</div>
</header>
{% endblock content %}
