<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Events {{ dept }} | Mindkraft | A National Level Tech Fest</title>

<!--		<link rel="shortcut icon" href="../favicon.ico">-->
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/static/client/event/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/static/client/event/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/static/client/event/css/bookblock.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/static/client/event/css/component.css" />
		<script src="{{ base_url() }}/static/client/event/js/modernizr.custom.js"></script>
<!--		<link href="{{ base_url() }}/static/client/css/style.css" rel="stylesheet">-->
<!--		<link href="{{ base_url() }}/static/client/css/mindkraft.css" rel="stylesheet">-->
		<style>
			.book {
				background: none !important;
				border: none !important;
			}
			.join-now{
				padding: 20px;
				border:none;
				font-family: monospace;
				background:  rgba(221, 221, 221, 0.7);
				border-radius: 3px;
			}
			.join-now:hover{
				padding: 25px;
				transition: all 0.3s ease-in-out;
/*				border:none;*/
				color:#fff;
				font-family: monospace;
				background:  rgb(152, 152, 152);
				border-radius: 3px;
			}
		</style>
	</head>
	<body >



		<main>

			<div class="cd-about cd-main-content">
		<div id="scroll-wrap" class="container">
			<header class="codrops-header">
				<div class="codrops-top clearfix">
					<a class="codrops-icon codrops-icon-prev" href="{{ base_url() }}/events/"><span>Back</span></a>
					<span class="right"><a class="codrops-icon codrops-icon-drop" href="{{ base_url() }}"><span>Go to HomePage</span></a></span>
				</div>
				<h1>Department of CSE <span>with <a href="{{ base_url() }}">Mindkraft 2017</a></span></h1>
			</header>
			<div class="main">
				{% for event in events %}
				<div id="bookshelf" class="bookshelf">
					<figure>
						<img class="book" data-book="{{ event.title|e }}" src="{{ base_url() }}/static/img/mk.png" style="z-index:99;width: 100%;height:100%">
						<div class="buttons"><a href="#"><b>More Details</b></a><a href="#"><b>Quick Peek</b></a><a href="#ihatecoding" class="regme"><b>Register Now</b></a></div>
						<figcaption><h2>{{ event.title|e }}<span></span></h2></figcaption>
						<div class="details">
							<ul>
								<li>{{ event.description|e }}</li>
								<li>&#8377; {{ event.prize|e }}</li>
								<li>Coordinator: {{ event.contact|e }}</li>
<!--								<li>397 pages</li>-->
							</ul>
						</div>
					</figure>

				</div>
				{% endfor %}
			</div><!-- /main -->

		</div><!-- /container -->

		<!-- Fullscreen BookBlock -->
		<!-- for demo purpose we repeat each bookblock -->
		{% for event in events %}
		<div class="bb-custom-wrapper" id="{{ event.title|e }}">
			<div class="bb-bookblock">
				<div class="bb-item">
					<div class="bb-custom-side page-layout-3">
						<div>
							<h3>{{ event.title|e }}</h3>
							<p>By Department of {{ event.dept|e }}</p>
						</div>
					</div>
					<div class="bb-custom-side page-layout-3">
					</div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side page-layout-1">
						<h3>
							Here's the <span>DESCRIPTION</span>
						</h3>
					</div>
					<div class="bb-custom-side page-layout-1">
						<p>{{ event.description|e }}</p>
					</div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side page-layout-1">
						<h3>
							Here's the <span>RULES</span>
						</h3>
					</div>
					<div class="bb-custom-side page-layout-1">
						<p>{{ event.rules|e }}</p>
					</div>
				</div>
				<div class="bb-item">
					<div class="bb-custom-side page-layout-2">
						<div>
							<h3>Place</h3>
							<p>{{ event.venue|e }}</p>
						</div>
						<div>
							<h3>Fees</h3>
							<p>&#8377; {{ event.fees|e }}</p>
						</div>
					</div>
					<div class="bb-custom-side page-layout-2">
						<div>
							<h3>Prize</h3>
							<p>&#8377; {{ event.prize|e }}</p>
						</div>
						<div>
							<h3>Call</h3>
							<p>Coordinator: {{ event.contact|e }}</p>
						</div>
					</div>
				</div>

				<div class="bb-item">
					<div class="bb-custom-side page-layout-1">
						<h3>
							Join <span>NOW !</span>
						</h3>
					</div>
					<div class="bb-custom-side page-layout-1">
						<p><button class="button btn btn-success amireg join-now">Register for {{ event.title|e }}</button></p>
					</div>
				</div>
			</div><!-- /bb-bookblock -->
			<nav>
				<a href="#" class="bb-nav-prev">Previous</a>
				<a href="#" class="bb-nav-next">Next</a>
				<a href="#" class="bb-nav-close">Close</a>
			</nav>
		</div><!-- /bb-custom-wrapper -->
		{% endfor %}
			</div>
		</main>

		<script src="{{ base_url() }}/static/client/event/js/bookblock.min.js"></script>
		<script src="{{ base_url() }}/static/client/event/js/classie.js"></script>
		<script src="{{ base_url() }}/static/client/event/js/bookshelf.js"></script>
	</body>
</html>
