{% extends "website/shell.twig" %}

{% block title%}
Register to Mindkraft 2017 | A National Level Techno Management Fest
{% endblock title%}

{% block css%}
<link href="{{ base_url() }}/static/css/games.css" rel="stylesheet">
{% endblock css %}

{% block content%}
<header class="ami-main">
<div class="container">
<div class="row">
<h1 style="text-align:center;color:#fff">Games</h1>
	<br />
	<br />
	<br />
	<br />
	</div>
	<div class="row">
<h2 style="text-align:center;color:#fff">Games are coming soon!</h2>
	<!-- <div class="col-md-3 col-xs-6">

		<div class="eve-snipp panel panel-body">
	<a href="#"  data-toggle="modal" data-target="#gameDetails">
			<img src="img/koppile-logo.png" width="150">
		<span class="name">Codezilla</span>
		<span class="register btn btn-success">Register Now</span>

			</a>
	</div>
	</div> -->

	</div>
</div>
</header>
{% endblock content %}
{% block last %}

<div id="gameDetails" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">Codezilla</h4>
</div>
<div class="modal-body">
<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#home">Desc & Rules</a></li>
<li><a data-toggle="tab" href="#menu1">Fees</a></li>
<li><a data-toggle="tab" href="#menu2">Prize Money</a></li>
<li><a data-toggle="tab" href="#home">Coordinators</a></li>
</ul>

<div class="tab-content">
<div id="home" class="tab-pane fade in active">
<h3>HOME</h3>
<p>Some content.</p>
</div>
<div id="menu1" class="tab-pane fade">
<h3>Menu 1</h3>
<p>Some content in menu 1.</p>
</div>
<div id="menu2" class="tab-pane fade">
<h3>Menu 2</h3>
<p>Some content in menu 2.</p>
</div>
</div>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>

</div>
</div>
{% endblock last %}
