{% extends "website/shell.twig" %}

{% block title%}
Mindkraft 2017 | A National Level Techno Management Fest
{% endblock title%}

{% block css%}
{% endblock css %}

{% block content%}


<header class="ami-main" style="overflow:hidden">
  <div id="" class="large-header">
    <div class="ku-logo"><img src="{{ base_url() }}/static/img/ku-logo.png" class="img-responsive"></div> <span class="mc">Proudly Presents</span>
    <h1 class="main-title">
      <span class="fadeIn" id="logo">Mindkraft<sup>2017</sup></span></h1> <span class="tagline">Frugal Innovation For Smart India</span> <span class="venue-date">23<sup>rd</sup>,24<sup>th</sup> & 25<sup>th</sup>  March 2017</span> </div>
  <div class="down">
    <a href="#menu" class="smooth-scroll"> <span class="assist">Scroll To Know More</span> </a>
  </div>
  <div class="hero-footer"> <span class="follow-me">
    <a href="https://www.facebook.com/MindkraftKU" target="_blank">Follow us on <i class="fa fa-fw fa-facebook-square"></i></a>
  </span>
    <div class="timer slideUp"> <span class="days"><span class="time" id="canvas-days">55</span>Days</span> <span class="hours"><span class="time" id="canvas-hours">18</span>Mins</span> <span class="minutes"><span class="time"  id="canvas-minutes">12</span>Hrs</span> <span class="secs"><span class="time" id="canvas-seconds">18</span>Secs</span>
    </div>
  </div> <a href="#index-content" class="cd-scroll">Scroll Down</a> </header>

<div class="cd-content" id="menu">
  <section class="mk-menu" id="mk-menu">
    <canvas id="star-bg"></canvas>
  <div class="mainbody-section">


              <div class="col-md-4 col-xs-12">
      <div class="menu-item">
                      <a href="#about-modal" data-toggle="modal" data-target="#about-modal">
                          <i class="fa fa-user"></i>
                          <p>About Us</p>
                      </a>
                  </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="menu-item">
                      <a href="#clients-modal" data-toggle="modal">
                          <i class="fa fa-ticket"></i>
                          <p>Our Sponsors</p>
                      </a>
                  </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="menu-item">
                      <a href="#portfolio-modal" data-toggle="modal">
                          <i class="fa fa-file-photo-o"></i>
                          <p>Gallery</p>
                      </a>
                  </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="menu-item">
                      <a href="#feature-modal" data-toggle="modal">
                          <i class="fa fa-file-photo-o"></i>
                          <p>Whats all ?</p>
                      </a>
                  </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="menu-item">
                      <a href="#team-modal" data-toggle="modal">
                          <i class="fa fa-users"></i>
                          <p>The Team</p>
                      </a>
                  </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="menu-item">
                      <a href="#contact-modal" data-toggle="modal">
                          <i class="fa fa-users"></i>
                          <p>Contact Us</p>
                      </a>
                  </div>
    </div>

          </div>

  </section>

</div>

<footer><p>&copy; 2017, Mindkraft Organisation | All Right Reserved, Karunya University</p></footer>
{% endblock content %}
{% block last %}
<div class="section-modal modal fade" id="about-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="section-title text-center">
                        <h3>About Us</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-text">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. It has roots in a piece of classical Latin literature from 45 BC</p>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <ul>
                                        <li><i class="fa fa-check-square"></i>Sed ut perspiciatis unde omnis iste natus</li>
                                        <li><i class="fa fa-check-square"></i>Nor again is there anyone who loves</li>
                                        <li><i class="fa fa-check-square-o"></i>At vero eos et accusamus et iusto odio</li>
                                        <li><i class="fa fa-check-square-o"></i>Et harum quidem rerum facilis</li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <ul>
                                        <li><i class="fa fa-check-square"></i>Nor again is there anyone who loves</li>
                                        <li><i class="fa fa-check-square"></i>Nor again is there anyone who loves</li>
                                        <li><i class="fa fa-check-square-o"></i>Et harum quidem rerum facilis</li>
                                        <li><i class="fa fa-check-square-o"></i>At vero eos et accusamus et iusto odio</li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <ul>
                                        <li><i class="fa fa-check-square"></i>Nor again is there anyone who loves</li>
                                        <li><i class="fa fa-check-square"></i>Nor again is there anyone who loves</li>
                                        <li><i class="fa fa-check-square-o"></i>Et harum quidem rerum facilis</li>
                                        <li><i class="fa fa-check-square-o"></i>At vero eos et accusamus et iusto odio</li>
                                    </ul>
                                </div>
                            </div><!-- /.row -->
                        </div>
                    </div>
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="skill-shortcode">

                            <!-- Progress Bar -->
                            <div class="skill">
                                <p>Web Design</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"  data-percentage="60">
                                        <span class="progress-bar-span" >60%</span>
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Progress Bar -->
                            <div class="skill">
                                <p>HTML & CSS</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"  data-percentage="95">
                                        <span class="progress-bar-span" >95%</span>
                                        <span class="sr-only">95% Complete</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Progress Bar -->
                            <div class="skill">
                                <p>Wordpress</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"  data-percentage="80">
                                        <span class="progress-bar-span" >80%</span>
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Progress Bar -->
                            <div class="skill">
                                <p>Joomla</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"  data-percentage="100">
                                        <span class="progress-bar-span" >100%</span>
                                        <span class="sr-only">100% Complete</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Progress Bar -->
                            <div class="skill">
                                <p>Extension</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"  data-percentage="70">
                                        <span class="progress-bar-span" >70%</span>
                                        <span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-tab">

                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Our Mission</a></li>
                                <li><a href="#tab-2" role="tab" data-toggle="tab">Our Vission</a></li>
                                <li><a href="#tab-3" role="tab" data-toggle="tab">Company History</a></li>
                            </ul>

                            <div class="tab-content">

                                <div class="tab-pane active" id="tab-1">
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                 </div>


                                <div class="tab-pane" id="tab-2">
                                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                </div>


                                <div class="tab-pane" id="tab-3">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                </div>

                            </div><!-- /.tab-content -->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div class="section-modal modal fade contact" id="clients-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="section-title text-center">
                        <h3>Client's Speech About Us</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="clients">
                            <img src="images/team/manage-1.png" class="img-responsive" alt="...">
                            <h4>John Doe</h4>
                            <div class="speech">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="clients">
                            <img src="images/team/manage-2.html" class="img-responsive" alt="...">
                            <h4>John Doe</h4>
                            <div class="speech">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="clients">
                            <img src="images/team/manage-3.html" class="img-responsive" alt="...">
                            <h4>John Doe</h4>
                            <div class="speech">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="clients">
                            <img src="images/team/manage-4.html" class="img-responsive" alt="...">
                            <h4>John Doe</h4>
                            <div class="speech">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                    </div>

                </div><!--/.row -->

            </div>

        </div>
    </div>

 <div class="section-modal modal fade" id="portfolio-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="section-title text-center">
                        <h3>Our Portfolio</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/1.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/2.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/3.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/4.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/5.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/6.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/7.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/8.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/9.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/10.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/11.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="images/portfolio/12.png" class="img-responsive" alt="...">
                            <div class="portfolio-details text-center">
                                <h4>Project Name</h4>
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                </div><!-- /.row -->
            </div>

        </div>
    </div>

<div class="section-modal modal fade" id="feature-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="section-title text-center">
                        <h3>Our Awesome Feature</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-magic"></i>
                            <div class="feature-content">
                                <h4>Web Design</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-gift"></i>
                            <div class="feature-content">
                                <h4>Graphics Design</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-wordpress"></i>
                            <div class="feature-content">
                                <h4>Wordpress Theme</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-plug"></i>
                            <div class="feature-content">
                                <h4>Wordpress Plugin</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-joomla"></i>
                            <div class="feature-content">
                                <h4>Joomla Template</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-cube"></i>
                            <div class="feature-content">
                                <h4>Joomla Extension</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-css3"></i>
                            <div class="feature-content">
                                <h4>HTML 5 & CSS3</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-android"></i>
                            <div class="feature-content">
                                <h4>Android Apps</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div>

        </div>
    </div>

 <div class="section-modal modal fade" id="team-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="section-title text-center">
                        <h3>Our Expert Team</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <img src="images/team/manage-1.png" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <div class="designation">Senior Web Developer</div>
                                <ul style="text-align: center;">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <img src="images/team/manage-2.html" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <div class="designation">Senior Web Developer</div>
                                <ul style="text-align: center;">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <img src="images/team/manage-3.html" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <div class="designation">Senior Web Developer</div>
                                <ul style="text-align: center;">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <img src="images/team/manage-4.html" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <div class="designation">Senior Web Developer</div>
                                <ul style="text-align: center;">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <img src="images/team/team-1.html" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <div class="designation">Senior Web Developer</div>
                                <ul style="text-align: center;">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <img src="images/team/team-2.html" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <div class="designation">Senior Web Developer</div>
                                <ul style="text-align: center;">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <img src="images/team/team-3.html" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <div class="designation">Senior Web Developer</div>
                                <ul style="text-align: center;">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <img src="images/team/team-4.html" class="img-responsive" alt="">
                            <div class="team-details">
                                <h4>John Doe</h4>
                                <div class="designation">Senior Web Developer</div>
                                <ul style="text-align: center;">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div><!-- /.row -->
            </div>

        </div>
    </div>

<div class="section-modal modal fade contact" id="contact-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="section-title text-center">
                        <h3>Contact With Us</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="footer-contact-info">
                            <h4>Contact info</h4>
                            <ul>
                                <li><strong>E-mail :</strong> your-email@mail.com</li>
                                <li><strong>Phone :</strong> +8801-6778776</li>
                                <li><strong>Mobile :</strong> +8801-45565378</li>
                                <li><strong>Web :</strong> yourdomain.com</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="footer-social text-center">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="footer-contact-info">
                            <h4>Working Hours</h4>
                            <ul>
                                <li><strong>Mon-Wed :</strong> 9 am to 5 pm</li>
                                <li><strong>Thurs-Fri :</strong> 12 pm to 10 pm</li>
                                <li><strong>Sat :</strong> 9 am to 3 pm</li>
                                <li><strong>Sunday :</strong> Closed</li>
                            </ul>
                        </div>
                    </div>

                </div><!--/.row -->
                <div class="row" style="padding-top: 80px;">
                    <div class="col-md-12">
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-primary">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock last %}

{% block script %}
{% endblock script %}
