{% extends "website/shell.twig" %}

{% block title%}
Register to Mindkraft 2017 | A National Level Techno Management Fest
{% endblock title%}

{% block css%}
<link href="{{ base_url() }}/static/css/games.css" rel="stylesheet">
<link href="{{ base_url() }}/static/css/form.css" rel="stylesheet">
{% endblock css %}

{% block content%}

<header class="ami-main">
<div class="container">
<div class="row">
	</div>
	<div class="container">

		<div class="choosy">
		<h1>Are you a karunyan ?</h1>
		<div class="btns">

			<a href="#" id="intBtn">Yes, I am karunyan</a>
			<a href="#" id="extBtn">No am not</a>
		</div>
		</div>


		<form id="internalReg" class="cd-form floating-labels" style="display:none">
			<h1>Register | Internal</h1>
<fieldset>

<div class="error-message">
	<p>Please enter a valid email address</p>
</div>

<div class="icon">
	<input class="user" type="text" name="cd-name" id="regno" placeholder="Register Number" required>
	</div>
<div class="icon">
	<input class="user" type="text" name="cd-name" id="name" placeholder="Full Name" required>
	</div>
<div class="icon">
	<input class="user" type="text" name="cd-name" id="phone" placeholder="Phone Number" required>
	</div>
<div class="icon">
	<input class="user" type="text" name="cd-name" id="cphone" placeholder="Mobile Number (10 digit)" required>
	</div>
<div class="icon">
	<input class="email" type="email" name="cd-name" id="email" placeholder="Valid Email" required>
	</div>
<div>
	<button type="button" id="in_reg" class="btn btn-success pull-right">Am In!</button>
	<a href="#" class="pull-right passre">Login Here</a>
	</div>
</fieldset>
</form>
		<form id="externalReg" class="cd-form floating-labels" style="display:none">
			<h1>Register | External</h1>
<fieldset>

<div class="error-message">
	<p>Please enter a valid email address</p>
</div>
	<div class="icon">
		<input class="user" type="text" name="cd-name" id="euser" placeholder="Full Name" required>
	</div>
<div class="icon">
	<input class="user" type="text" name="cd-name" id="ename" placeholder="Full Name" required>
	</div>
<div class="icon">
	<input class="user" type="text" name="cd-name" id="ephone" placeholder="Mobile Number (10 digit)" required>
	</div>
<div class="icon">
	<input class="user" type="text" name="cd-name" id="ecphone" placeholder="Confirm Phone Number" required>
	</div>
<div class="icon">
	<input class="email" type="email" name="cd-name" id="eemail" placeholder="Email Address" required>
	</div>
<div class="icon">
	<input class="user" type="text" name="cd-name" id="ecollege" placeholder="College Name" required>
	</div>
<div>
	<h4 style="font-weight:bold;font-size:16px;">ACCOMODATION <span>(More information will be provided later on)</span></h4>

	<ul class="cd-form-list">
		<li>
			<input type="radio" name="radio-button" id="cd-radio-1">
			<label for="cd-radio-1">Yes, ofcourse!</label>
		</li>

		<li>
			<input type="radio" name="radio-button" id="cd-radio-2">
			<label for="cd-radio-2">No Thanks</label>
		</li>
	</ul>
</div>
<div>
	<button type="button" id="ex_reg" class="btn btn-success pull-right">Register Me!</button>
	<a href="{{ path_for('page_login') }}" class="pull-right passre">Login Here</a>
	</div>
</fieldset>
</form>
	</div>
	</div>
</header>

{% endblock content %}

{% block script %}
<script>
$("#intBtn").click(function(){
	console.log("called");
	$("form").fadeOut(100);

//		$("#internalReg").removeClass("hidden");
	$("#internalReg").fadeIn(300);

	return false;
});
	$("#extBtn").click(function(){
	$("form").fadeOut(100);
	$("#externalReg").fadeIn(300);
		return false;
});

$("#in_reg").click(function () {
  if ($("#phone").val()!=$("#cphone").val()){
    swal('Something went Wrong !','Phone Numbers doesnt match','warning');
    return false;
	}
  $.ajax({
    url:"{{ path_for('api_reg_internal') }}",
    type: "POST",
    data: {
      "regno": $("#regno").val(),
      "name": $("#name").val(),
      "email": $("#email").val(),
      "phone": $("#phone").val(),
      "dept": "STUD",
      "gender": "MF"
    },
    success:function (result) {
      if(result.status=="success"){
        swal('Success',result.message,'success');
        $("#regno").val("");
        $("#name").val("");
        $("#email").val("");
        $("#phone").val("");
      }else{
        swal('Something went Wrong !',result.message,'warning');
      }
    }
  });
});

$("#ex_reg").click(function () {
  if ($("#ephone").val()!=$("#ecphone").val()){
    swal('Something went Wrong !','Phone Numbers doesnt match','warning');
    return false;
  }
  $.ajax({
    url:"{{ path_for('api_reg_external') }}",
    type: "POST",
    data: {
      "username": $("#euser").val(),
      "name": $("#ename").val(),
      "email": $("#eemail").val(),
      "phone": $("#ephone").val(),
      "dept": "EXSTUD",
      "gender": "MF",
      "college": $("#ecollege").val()
    },
    success:function (result) {
      if(result.status=="success"){
        swal('Success',result.message,'success');
        $("#euser").val("");
        $("#ename").val("");
        $("#eemail").val("");
        $("#ephone").val("");
        $("#ecollege").val("");
      }else{
        swal('Something went Wrong !',result.message,'warning');
      }
    }
  });
});

</script>
{% endblock script %}
