<!Doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ base_url() }}/static/css/reset.css">
	<!-- CSS reset -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Resource style -->
	<link rel="stylesheet" href="{{ base_url() }}/static/css/mk-menu.css">
	<link rel="stylesheet" href="{{ base_url() }}/static/css/style.css">
	<link rel="stylesheet" href="{{ base_url() }}/static/plugins/sweetalert2/sweetalert2.min.css">

	<!-- Resource style -->
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<link href="{{ base_url() }}/static/css/css-animations.css" rel="stylesheet">

	<!-- Modernizr -->
	<script src="{{ base_url() }}/static/js/modernizr.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

{% block css%}
{% endblock css%}

</head>
<body>
	<nav class="cd-side-navigation">
		<ul>
			<li style="padding:0;margin:0">
				<a href="{{ path_for('page_home') }}" data-menu="index"  class=""> <img src="{{ base_url() }}/static/img/koppile-logo.png" class="kop-logo"> </a>
			</li>
			<li>
				<a href="{{ path_for('page_depts') }}" data-menu="services"> <i class="fa fa-fw fa-map-marker"></i> Events </a>
			</li>
			<li>
				<a href="{{ path_for('page_workshops') }}" data-menu="projects"> <i class="fa fa-fw fa-wrench"></i> Workshops </a>
			</li>
			<li>
				<a href="{{ path_for('page_games') }}" data-menu="contact"> <i class="fa fa-fw fa-soccer-ball-o"></i> Games </a>
			</li>
		</ul>
	</nav>

	<main class="cd-main" id="large-header">


		<header class="wow fadeInDown slideDown" data-wow-duration="3s">
			<nav class="navo pull-right" style="margin-right:200px;">
{% if data %}
				<a href="{{ path_for('page_myevents') }}"><span>{{ data.user }}</span></a>
				<a href="{{ path_for('page_logout') }}"><span>Logout</span></a>
{% else %}
<a href="{{ path_for('page_login') }}"><span>Login</span></a>
<a href="{{ path_for('page_register') }}"><span>Register</span></a>
{% endif %}
			</nav>
		</header>
		<section class="cd-section index visible" style="background:url({{ base_url() }}/static/img/demo-2-bg.jpg)">
		<canvas id="demo-canvas"></canvas>

			{% block content %}
			{% endblock content %}

		
		</section>

		{% block last %}
		{% endblock last %}

	</main>
	<!-- .cd-main -->
	<div id="cd-loading-bar" data-scale="1" class="index"></div>
	<!-- lateral loading bar -->
	<script src="{{ base_url() }}/static/js/jquery-2.1.4.js"></script>
	<script src="{{ base_url() }}/static/js/bootstrap.min.js"></script>
	<script src="{{ base_url() }}/static/js/rAF.js"></script>
	<script src="{{ base_url() }}/static/js/TweenLite.min.js"></script>
	<script src="{{ base_url() }}/static/js/EasePack.min.js"></script>
	<script src="{{ base_url() }}/static/js/bg.js"></script>
	<script src="{{ base_url() }}/static/plugins/sweetalert2/sweetalert2.min.js"></script>
	<script src="{{ base_url() }}/static/js/stars-bg.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<!--	<script src="js/jquery-parallax.js"></script>-->
<!--	<script src="js/jquery.scrollorama.js"></script>-->
{% block script %}
{% endblock script %}
	<script>
		$(document).ready(

  function() {
	  $("#menu").ScrollTo();
//$("body").getNiceScroll().hide();
//    $("main").niceScroll();
  }

);

		$(document).mousemove(function(e) {
//			$('.timer').parallax(-30, e);
		});
	</script>
</body>

</html>
