.cd-games h1{
	text-align: center;
	font-family: 'Righteous', cursive;
	color:#fff;
}
.eve-snipp{
	text-align: center;
	align-content: center;
	display: block;
/*	float: left;*/
/*	margin: 10px;*/
	background: rgba(255, 255, 255, 0.29);
	transition: 0.2s all ease-in-out;
}

.eve-snipp:hover{
	background: rgba(255, 255, 255, 0.71);
	
}

.eve-snipp a{
	display: block;
}

.eve-snipp img{
/*	position: */
/*	display: block;*/
	max-width: 150px;
	
}

.eve-snipp span{
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	padding: 10px;
	display: block;
	text-align: center;
	font-family: "Exo",cursive;
}

#gameDetails .modal-content{
	border-radius: 0px !important;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
}
#gameDetails .modal-content .modal-body{
	padding: 20px;
	min-height: 300px;
}
#gameDetails .modal-content .modal-title{
	color:#818181;
	text-align: center;
	font-size: 2.2em;
	font-family: "Bahiana",Cursive;
	border: none;
	}
