@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Bahiana');


/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
/*overflow-x: hidden;*/
}

html {
  font-size: 62.5%;

}

body {
	
/*	background-attachment:fixed;*/
/*	overflow-x: hidden;*/
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
/*  color: #83b0b9;*/
/*  background-color: #e6e6e6;*/
	 
}

a {
  color: #d35657;
  text-decoration: none;
}
main{
	overflow: scroll;
	background:url(../img/demo-2-bg.jpg);
}

section#intro{
/*	display: block;*/
	overflow: hidden;
	
/*	background: url(../img/bg.png);*/
	background-size: cover;
	background-repeat: no-repeat;
/*	background-attachment: scroll;*/
/*	-webkit-animation: backgroundScroll 20s linear infinite;*/
/*animation: backgroundScroll 20s linear infinite; */
/*	transition:all 3s ease-in-out;*/
/*	transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);*/
/*	filter:blur(1px)*/
}

section#intro:hover{
/*	background-size: cover;*/
}
/* -------------------------------- 

Navigation

-------------------------------- */
.kop-logo{
	width: 80px;
	margin-top: -20px;
/*	top: 0px;*/
/*	position: absolute;*/
/*	display: block;*/
}
.cd-side-navigation {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  width: 74px;
  overflow: hidden;
}
.cd-side-navigation::before {
  /* background color of the side navigation */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: -webkit-calc(100% - 4px);
  width: calc(100% - 4px);
  background-color: #131519;
}
.cd-side-navigation ul {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-side-navigation li {
  width: -webkit-calc(100% - 4px);
  width: calc(100% - 4px);
}
.cd-side-navigation a {
  display: block;
  position: relative;
  padding: 4em 0 1.5em;
  font-size: 1.2rem;
  text-align: center;
  color: #4a5261;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.cd-side-navigation a i {
  /* this is the icon */
	font-size: 1.5em;
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 1.3em;
}
.cd-side-navigation a svg * {
  -webkit-transition: stroke 0.2s;
  -moz-transition: stroke 0.2s;	
  transition: stroke 0.2s;
}
.cd-side-navigation a::after {
  /* 4px line to the right of the item - visible on hover */
  content: '';
  position: absolute;
  top: 0;
  right: -4px;
  height: 100%;
  width: 4px;
/*  background-color: #83b0b9;*/
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: none;
}
.no-touch .cd-side-navigation a:hover {
  background-color: #08090b;
}
.no-touch .cd-side-navigation a:hover::after {
  opacity: 1;
}
.cd-side-navigation a.selected, .no-touch .cd-side-navigation a.selected:hover {
  background-color: #ffffff;
  color: #131519;
}
.cd-side-navigation a.selected > svg *, .no-touch .cd-side-navigation a.selected:hover > svg * {
  stroke: #83b0b9;
}
.cd-side-navigation li:nth-of-type(2) .selected > svg *,
.cd-side-navigation li:nth-of-type(2) .selected:hover > svg * {
  stroke: #d35657;
}
.cd-side-navigation li:nth-of-type(3) .selected > svg *,
.cd-side-navigation li:nth-of-type(3) .selected:hover > svg * {
  stroke: #343943;
}
.cd-side-navigation li:nth-of-type(4) .selected > svg *,
.cd-side-navigation li:nth-of-type(4) .selected:hover > svg * {
  stroke: #e4b162;
}
.cd-side-navigation li:nth-of-type(2) a::after {
  background-color: #d35657;
}
.cd-side-navigation li:nth-of-type(3) a::after {
  background-color: #343943;
}
.cd-side-navigation li:nth-of-type(4) a::after {
  background-color: #e4b162;
}
@media only screen and (min-width: 480px) {
  .cd-side-navigation {
    width: 94px;
  }
  .cd-side-navigation a {
    padding: 4em 0 1.5em;
    font-size: 1.3rem;
  }
  .cd-side-navigation a svg {
	
    top: 1.6em;
  }
}

/* -------------------------------- 

 Main Content

-------------------------------- */
.cd-main {
  height: 100vh;
  overflow: hidden;
}

.cd-section {
	
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-left: 70px;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0s 0.5s;
  -moz-transition: -moz-transform 0s 0.5s;
  transition: transform 0s 0.5s;
}
.cd-section.overflow-hidden {
  /* this class is used to hide the scrolling bar while a new section is entering the viewport */
  overflow: hidden;
}
.cd-section header {
  position: relative;
  height: 100vh;
  width: 100%;
/*  background: #83b0b9;*/
  overflow-x: hidden;
  overflow-y: scroll;
}
.cd-section.services header {
  background-color: #d35657;
}
.cd-section.projects header {
  background-color: #343943;
}
.cd-section.contact header {
  background-color: #e4b162;
}
.cd-section .cd-scroll {
  /* this is the arrow at the bottom of the header */
  display: block;
  position: absolute;
  bottom: 60px;
  left: -webkit-calc(50vw - (74px - 4px)/2);
  left: calc(50vw - (74px - 4px)/2);
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 0s 0.5s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0s 0.5s, visibility 0s 0.5s;
  transition: transform 0s 0.5s, visibility 0s 0.5s;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
}
.cd-section.visible {
  /* this is the visible/selected section */
  position: relative;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s;
  transition: transform 0.5s 0s;
}
.cd-section.visible .cd-scroll {
  visibility: visible;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.5s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s 0.5s, visibility 0s 0s;
  transition: transform 0.3s 0.5s, visibility 0s 0s;
  -webkit-animation: cd-scroll-down 1.2s 0.9s;
  -moz-animation: cd-scroll-down 1.2s 0.9s;
  animation: cd-scroll-down 1.2s 0.9s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}
@media only screen and (min-width: 480px) {
  .cd-section {
    padding-left: 90px;
  }
  .cd-section .cd-scroll {
    left: -webkit-calc(50vw - (94px - 4px)/2);
    left: calc(50vw - (94px - 4px)/2);
  }
}

@-webkit-keyframes cd-scroll-down {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}
@-moz-keyframes cd-scroll-down {
  0% {
    -moz-transform: translateX(-50%) scale(1);
  }
  50% {
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}
@keyframes cd-scroll-down {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    -o-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
.cd-title {
  position: absolute;
  top: 50%;
  left: 0;
  /* this prevents title from jumping when the section scroll bar is visible */
  width: calc(100vw - 90px);
  padding: 1em;
  color: #ffffff;
  text-align: center;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0;
  -webkit-transform: translateY(-50%) translateX(-80px);
  -moz-transform: translateY(-50%) translateX(-80px);
  -ms-transform: translateY(-50%) translateX(-80px);
  -o-transform: translateY(-50%) translateX(-80px);
  transform: translateY(-50%) translateX(-80px);
  -webkit-transition: -webkit-transform 0s 0.5s, opacity 0s 0.5s;
  -moz-transition: -moz-transform 0s 0.5s, opacity 0s 0.5s;
  transition: transform 0s 0.5s, opacity 0s 0.5s;
}
.cd-title h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.cd-title span {
  opacity: 0.6;
}
.visible .cd-title {
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.4s 0.3s, opacity 0.4s 0.3s;
  -moz-transition: -moz-transform 0.4s 0.3s, opacity 0.4s 0.3s;
  transition: transform 0.4s 0.3s, opacity 0.4s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-title h2 {
    font-size: 5rem;
  }
}

.cd-content {
/*  padding: 2em 0;*/
/*  background-color: #ebebeb;*/
}
.cd-content p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 2em;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #999999;
}
@media only screen and (min-width: 768px) {
  .cd-content {
    padding: 4em 0;
  }
  .cd-content p {
    font-size: 1.6rem;
  }
}

/* -------------------------------- 

 Loading Bar

-------------------------------- */
#cd-loading-bar {
  position: fixed;
  z-index: 2;
  left: 70px;
  width: 4px;
  visibility: hidden;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#cd-loading-bar.index {
  background-color: #83b0b9;
}
#cd-loading-bar.services {
  background-color: #d35657;
}
#cd-loading-bar.projects {
  background-color: #343943;
}
#cd-loading-bar.contact {
  background-color: #e4b162;
}
#cd-loading-bar.loading {
  visibility: visible;
}
@media only screen and (min-width: 480px) {
  #cd-loading-bar {
    left: 90px;
  }
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.ku-logo,.mc {
	position: absolute;
	margin: 0;
	padding: 0;
/*	color: #f9f1e9;*/
	text-align: center;
	top: 20%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.mc{
	color: #fff;
	top: 28%;
	font-family: 'Righteous', cursive;
	font-weight: normal;
	font-size: 1.3em;
	padding-left: 10px;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

 .main-title {
	font-family: 'Righteous', cursive;
	font-weight: normal;
	font-size: 8em;
	padding-left: 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.main-title sup{
/*	overflow:;*/
	position: absolute;
	margin-right: 40px;
	font-size: 42px;
}

.main-title::before {
	content: '';
	width: 20vw;
	height: 20vw;
	min-width: 3.5em;
	min-height: 3.5em;
/*	background: url(../img/deco.svg) no-repeat;*/
	background-size:cover;
	position: absolute;
	overflow-x: visible;
	top: 50%;
/*	left: 10%;*/
	border-radius: 50%;
	z-index: -1;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 4212;
	height: 20px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 100%)
}

.navo {
	height: 120px
}

.navo p {
	margin: 0;
	padding: 0;
	color: rgba(255, 255, 255, .6);
	font-size: 12px;
	font-weight: 700;
	font-style: italic;
	position: absolute;
	z-index: 4213;
	top: 20px;
	left: 30px
}

.navo p span {
	font-size: 14px
}

.navo a {
	position: relative;
	z-index: 4213;
	bottom: 46px;
	left: 130px;
	margin: 0 -10px;
	display: inline-block;
/*	background: #7d7d91 url(../img/docs/texture_dark.jpg);*/
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	letter-spacing: 1px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, .4);
	transform: rotate(-10deg) translateZ(0) scale(1, 1);
	perspective: 1000px;
	backface-visibility: hidden;
	transition-property: bottom, background, color, font-size, box-shadow, transform;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0, 0, .18, 1.305);
	transition-delay: 50ms
}

.navo a span {
	display: block;
	background: #4d2a6a no-repeat center -40px;
	padding: 80px 20px 10px;
	transition: background .2s
}

.navo a.current span,
.navo a:hover span {
	background-position: center -34px
}

.navo a:nth-of-type(1) span {
/*	background-image: url(img/docs/.navo01.png)*/
}

.navo a:nth-of-type(2) span {
/*	background-image: url(img/docs/.navo02.png)*/
}

.navo a:nth-of-type(3) span {
/*	background-image: url(img/docs/.navo03.png)*/
}

.navo a:nth-of-type(4) span {
/*	background-image: url(img/docs/.navo05.png)*/
}

.navo a:nth-of-type(5) span {
/*	background-image: url(img/docs/.navo06.png)*/
}

.navo a.current:nth-of-type(1) span,
.navo a:nth-of-type(1):hover span {
/*	background-image: url(img/docs/.navoc01.png)*/
}

.navo a.current:nth-of-type(2) span,
.navo a:nth-of-type(2):hover span {
/*	background-image: url(img/docs/.navoc02.png)*/
}

.navo a.current:nth-of-type(3) span,
.navo a:nth-of-type(3):hover span {
/*	background-image: url(img/docs/.navoc03.png)*/
}

.navo a.current:nth-of-type(4) span,
.navo a:nth-of-type(4):hover span {
/*	background-image: url(img/docs/.navoc05.png)*/
}

.navo a.current:nth-of-type(5) span,
.navo a:nth-of-type(5):hover span {
/*	background-image: url(img/docs/.navoc06.png)*/
}

.navo a:hover {
	z-index: 4238!important;
	bottom: 10px;
	color: #fff;
	font-size: 12px;
/*	background: #f5f0da url(..img/docs/texture.jpg);*/
	box-shadow: 0 4px 10px rgba(0, 0, 0, 1), 0 4px 20px rgba(0, 0, 0, 1);
	transform: rotate(0deg)!important
}

.navo a:active {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 1), 0 4px 20px rgba(0, 0, 0, 1), inset 0 0 20px rgba(0, 0, 0, .7)
}

.navo a:nth-of-type(1) {
	z-index: 4236;
	transform: rotate(-5deg);
	background-position: -10px -120px
}

.navo a:nth-of-type(2) {
	z-index: 4235;
	transform: rotate(-10deg);
	background-position: -50px -145px
}

.navo a:nth-of-type(3) {
	z-index: 4234;
	transform: rotate(-7deg);
	background-position: -4px -100px
}

.navo a:nth-of-type(4) {
	z-index: 4233;
	transform: rotate(-20deg);
	background-position: 0 -130px
}

.navo a:nth-of-type(5) {
	z-index: 4232;
	transform: rotate(-7deg);
	background-position: -50px -150px
}

.navo a:nth-of-type(6) {
	z-index: 4231;
	transform: rotate(-3deg);
	background-position: 100px -20px
}

.navo a.current {
	z-index: 4237;
	color: #d15113;
	bottom: 20px;
	font-size: 12px;
/*	background: #f5f0da url(../img/docs/texture.jpg)*/
}
#demo-canvas{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
/*	overflow-y: hidden;*/
}



.down{
	width: 100%;
/*	height: 100px;*/
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	left: 51%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.down img{
	width:25px;
}
.down .assist{
	
	font-size: 0.7em;
	margin-bottom: 10px;
	color:#fff;
	display: block;
	font-family: 'Exo', sans-serif;
	text-decoration: none;
}

.hero-footer {
	background: transparent;
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0px;
	
	margin: 0;
	padding: 30px;
	color: #f9f1e9;
	text-align: center;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.hero-footer .timer{
	
	float: right;
/*	padding: 20px;*/
	height: 100%;
	font-size: 1.7em;
	font-family: "Righteous",cursive;
}
.hero-footer .timer span span{
/*	display: block;*/
	width: 100%;
	clear: both;
/*	bottom: 10px;*/
	white-space: nowrap;
/*	position: absolute;*/
	font-size: 0.3em;
	
}

.hero-footer .timer .days:hover,.hours:hover,.secs:hover,.minutes:hover{
	background: rgba(255, 255, 255, 0.78);
	
}
.hero-footer .timer .days,.hours,.secs,.minutes{
	text-align: center;
	background: rgba(255, 255, 255, 0.42);
	display: inline-block;
	width: 100px;
	height: 100px;
/*	padding-bottom: 100%;*/
	padding: 10px;
	border-radius: 50%;
	
/*	border: 5px solid #fafafa;*/
}

.hero-footer .timer span{
/*	clip-path: circle(60px at center);*/
	color:rgb(255, 255, 255);
/*	font-size: 0.7em;*/
	font-family: 'Bahiana', monospace;
/*	line-height: 5px;*/
	top: 10%;
}


.hero-footer .timer span span{
	display: block;
	position: relative;
/*	margin-top: -50px;*/
	text-align: center;
	font-size: 1.1em;
}

.hero-footer .follow-me a{
	color:#fff;
}
.hero-footer .follow-me{
	bottom: -70px;
	left: 20px;
	position: absolute;
/*	float: left;*/
	margin-left: 100px;
	height: 100%;
	font-size: 1.7em;
	font-family: "Bahiana",cursive;
	display: block;
	text-decoration: none !important	;
	cursor: pointer;
}
.tagline {
	font-family: 'Barrio', cursive;
	font-size: 1.3em;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 60%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.venue-date sup{
/*	font-family: 'Exo', cursive;*/
	letter-spacing: 1px;
	font-size: 0.7em;
	
}
.venue-date {
	font-family: 'Bahiana', cursive;
	font-size: 1.6em;
	font-stretch: expanded;
	letter-spacing: 3px;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 75%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
section{
	overflow-x: hidden;
}
main .sun {
	display: inline-block;
	position: absolute;
	top:20%;
	left:10%;
}
.ami-main{
/*	z-index: 99;*/
/*	background: #204d53 url(../img/bg.png);*/
	background-repeat: no-repeat;
	background-size: cover;
}
.para-pic {
	width: inherit;
	overflow: hidden;
}
@media only screen and (max-width : 768px) {
	.timer{
		display: none;
	}
	.follow-me{
		display: none;
		opacity: 0;
	}
	.ku-logo {
/*		width: em;*/
/*		overflow: hi dden;*/
/*		width: 100px;*/
	}
	.main-title {
		font-size: 4em;
	}
}

.myframe {
	width: 100%;
}

/*Section stylings*/

.section {
	
	padding: 100px 0;
	
}

#about{
	background: #e62c2b;
}
.section{
	margin: 10px 0;
}
.section h1{
	font-weight: bold;
	font-family: "Exo";
	padding: 20px;
}
.section p{
	font-family: "Exo";
	color: #000;
	overflow: hidden;
	font-size: 14px;
}
.section video{
	max-width: 500px; 
}

#team{
	background: #38357b;
}
#team h1{color:#fff;}
#team p{color:#fff;}

#team .pics{
	width: 100%;
	padding: 5px;
	overflow: hidden;
	display: block;
	
}

#team .pics img{
	width: 200px;
	border-radius: 5%;;
	border: 4px solid  #fff;
/*	position: relative;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
	display: block;
}

#team .pics .overlay {
	color: #fff;
	padding: 10px;
/*	text-align: center;*/
	width: 100%;
	display: block;
}

#sponsors{
	background: #e62c2b;
}

#sponsors h1{color:#fff;}

#sponsors p{
	color:#fff;
}

#sponsors .sponsor-box{
	overflow: hidden;
	padding: 30px;
	border: 5px solid #fff;
}
#sponsors .sponsor-box .spon{
	height: 120px;
	overflow: hidden;
	
}

#sponsors .sponsor-box .spon img{
/*	width: 50px;*/
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#sponsors .sponsor-box .spon:last-child img{
	width: 220px;
}

#map{
padding: 0;	
}
#map .map-me{
/*	margin: -0px;*/
	width: 100%;
	height: 50vh;
}

#contact {
	color:#fff;
	background: #38357b;
}
#contact p{
	color:#fff;
}
#contact h2{
	text-align: center;
	margin-bottom: 30px;
/*	padding: 10px;*/
}

#contact p{
	text-align: center;
/*	font-family: sans-serif;*/
/*	padding: 5px;*/
	font-size: 14px;
}

#footer{
	padding: 0;
	margin: 0;
/*	padding: 20px;*/
	background: #e62c2b;
/*	height: 50px;*/
}

#footer p {
	color: #fff;
	padding: 20px;
	text-align: center;
}


section.mk-menu{
/*	margin: 0;*/
/*	min-height: 100vh;*/
/*	background: url(../img/nyt2.jpg);*/
/*	background-size: cover;*/
	
}

.modal{
	z-index:9999;
}

#star-bg {
	position: absolute;
	bottom:0px;
}

footer p{
	letter-spacing: 2px;
	font-family: "Exo";
	color: #fff;
	text-align: center;
	padding: 20px 0;
}