{% extends "brainchild/skeleton.twig" %}

{% block nav %}
  {% include 'brainchild/department/nav.twig' %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Events</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Type</th>
              <th>Fee</th>
              <th>Status</th>
              <th>More</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
              <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.fee }}</td>
                <td><span class="label label-{{ event.color }}">{{ event.status }}</span></td>
                <td><a data-target="#modal-{{ event.id }}" data-toggle="modal" class="btn btn-xs btn-primary" id="more-{{ event.id }}">More</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block modal %}
  {% for event in events %}
  <div class="modal" id="modal-{{ event.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">{{ event.title }} ({{ event.id }})</h4>
        </div>
        <div class="modal-body">
          <h3> Description </h3>
          <br><p>{{ event.description|raw }}</p><hr>
          <h3>Venue</h3>
          <br>
          {{ event.venue }}<hr>
          <h3>Contact</h3>
          <br>
          {{ event.contact }}<hr>
          <br>
          <h3>Prize Amount</h3>
          <br>
          {{ event.prize }}<hr>
          <br>
          <h3>Entry Fee</h3>
          <br>
          {{ event.fee }}<hr>
          <br>
          <h3>Status</h3>
          <br>
          <span class="label label-{{ event.color }}">{{ event.status }}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
    {% endfor %}
{% endblock %}